{% extends "front_base.html" %} {% block title %}About us{% endblock %} 

{% block content %}

<div class="row">
<div class="col s12 offset-m3 m7">
    <div class="card center-align">
    <div class="card-content">
    <p>Kappa Insurance Group is a small indpendent insurance agency, we opened our doors in 2016.  
    We have a collective total of 9 years of experience in Insurance. We specialize in personal auto insurance, and our aim is to provide supperior customer support to ensure each and evert one of our customer's needs are met.
    </p>
</div>
</div>
</div>
</div>


{% endblock %} 