<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1"> {% block head %}
  <title>{% block title %}{% endblock %} -Kappa Insurance </title>
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" type="text/css" href="public/css/main.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="shortcut icon" href="public/img/favicon.ico" />

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css"> {% endblock %}
</head>

<body>
  <header id="header">{% block header %}
    <div class="navbar-fixed">
      <nav>
        <div class="nav-wrapper">
          <a href="/form" class="brand-logo">Kappa Insurance</a>
          <a href="#" data-target="slide-out" class="sidenav-trigger">
            <i class="material-icons">menu</i>
          </a>
          <ul class="right hide-on-med-and-down">
            <li>
              <a href="#">Home</a>
            </li>
            <li>
              <a href="#">Auto Quote Request</a>
            </li>
            <li>
              <a href="#">Contact Us</a>
            </li>
          </ul>
        </div>
      </nav>

      <ul class="sidenav" id="slide-out">
        <li>
          <a href="#">Home</a>
        </li>
        <li>
          <a href="#">Auto Quote Request</a>
        </li>
        <li>
          <a href="#">Contact Us</a>
        </li>
      </ul>
    </div>
    {% endblock %}</header>
  <main id="content">{% block content %}{% endblock %}</main>


  {% block footer %}

  <footer class="page-footer hide-on-small-only">
    <div id="footer">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">Kappa Insurance Group, LLC</h5>
            <p class="grey-text text-lighten-4">We provide affordable piece of mind.</p>
          </div>
          <div class="col l4 offset-l2 s12">
            <h5 class="white-text">Links</h5>
            <ul>
              <li>
                <a class="grey-text text-lighten-3" href="#!">Instagram</a>
              </li>
              <li>
                <a class="grey-text text-lighten-3" href="#!">Twitter</a>
              </li>
              <li>
                <a class="grey-text text-lighten-3" href="#!">Facebook</a>
              </li>
              <li>
                <a class="grey-text text-lighten-3" href="#!">Email</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
          © 2018 Copyright Text
          <a class="grey-text text-lighten-4 right" href="#!">Map</a>
        </div>
      </div>

  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
  crossorigin="anonymous"></script>
<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
<!-- Optional JavaScript -->
<script type="text/javascript" src="public/js/main.js"></script> {% endblock %}
</div>
  </footer>




</body>

</html>