{% extends "front_base.html" %} {% block title %}Insurance Carriers{% endblock %} 

{% block content %}
<div class="row">
<div class="col s12 offset-m3 m7">
<ul class="collapsible ">
    <li>
      <div class="collapsible-header"><i class="material-icons">filter_drama</i>Progressive</div>
      <div class="collapsible-body" style="background-color:white;"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">place</i>Infinity</div>
      <div class="collapsible-body" style="background-color:white;"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">whatshot</i>Foremost</div>
      <div class="collapsible-body" style="background-color:white;"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
     <li>
      <div class="collapsible-header"><i class="material-icons">whatshot</i>Empower</div>
      <div class="collapsible-body" style="background-color:white;"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
     <li>
      <div class="collapsible-header"><i class="material-icons">whatshot</i>Mercury</div>
      <div class="collapsible-body" style="background-color:white;"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
     <li>
      <div class="collapsible-header"><i class="material-icons">whatshot</i>Hallmark</div>
      <div class="collapsible-body" style="background-color:white;"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
     <li>
      <div class="collapsible-header"><i class="material-icons">whatshot</i>SWYFFT</div>
      <div class="collapsible-body" style="background-color:white;"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
  </ul>

</div></div>


{% endblock %}