{% extends "front_base.html" %} {% block title %}Insurance Carriers{% endblock %} 

{% block content %}
<div class="row">
<div class="col s12 offset-m3 m7">
<ul class="collapsible ">
    <li>
      <div class="collapsible-header"><img src="img/progressive.png" alt="Progressive" height="20"></div>
      <div class="collapsible-body" style="background-color:white;"><span>
      <ul>
      <li><a href='https://account.progressive.com/access/login' target="_blank">Claims and customer portal</a></li>
      <li>Claims phone: 1(800) 776-4737</li>
      <li>Roadside assistance: 1(800) 776-2778</li>
      <li></li>
      </ul>
      </span></div>
    </li>
    <li>
      <div class="collapsible-header"><img src="img/infinity.jpg" alt="Infinity" height="20"></div>
      <div class="collapsible-body" style="background-color:white;"><span>
      <ul>
      <li><a href='https://infinitydriverclub.com/signUp?agentid=5514073' target="_blank">Driver club</a></li>
      <li><a href='https://connect.infinityauto.com/en/login.jsp' target="_blank">Customer portal</a></li>      
      <li><a href='https://claims.infinityauto.com/en/report-claim' target="_blank">Claims instructions</a></li>
      <li>Claims phone: 1(800) 334-1661</li>
      <li>Customer service: 1(800) 782-1020</li>
      <li>Monday - Friday: 7:00 - 22:00 hours. | Saturday 7:30 - 18:00 hours.</li>
      </ul>
      </span></div>
    </li>
    <li>
      <div class="collapsible-header"><img src="img/foremost.png" alt="Foremost" height="20"></div>
      <div class="collapsible-body" style="background-color:white;"><span>
      <ul>
      <li><a href='https://claims.foremost.com/eFNOL/eFNOL_Login?SO=03' target="_blank">Claims portal</a></li>
      <li>Claims/Roadside phone: 1(800) 527-3907</li>
      <li><a href='https://www.bristolwest.com/bristolwest/login/login.aspx?Foremost=true' target="_blank">Customer portal</a></li>
      <li></li>
      </ul>
      </span></div>
    </li>
     <li>
      <div class="collapsible-header"><img src="img/empower.png" alt="Empower" height="20"></div>
      <div class="collapsible-body" style="background-color:white;"><span>
      <ul>
      <li><a href='https://www.empowerins.com/claims.php' target="_blank">Claims portal</a></li>
      <li>Claims phone: 1(877) 437-5007</li>
      <li><a href='https://customers.empowerins.com/Account/Login.aspx?ReturnUrl=/Policy/Policy.aspx' target="_blank">Customer portal</a></li>
      <li></li>
      </ul>
      </span></div>
    </li>
     <li>
      <div class="collapsible-header"><img src="img/mercury.png" alt="Mercury" height="20"></div>
      <div class="collapsible-body" style="background-color:white;"><span>
      <ul>
      <li><a href='https://www.mercuryinsurance.com/insurance-claims/how-to-file-auto-insurance-claim.html' target="_blank">Claims instructions</a></li>
      <li>Claims phone: 1(800) 503-3724</li>
      <li><a href='https://cp.mercuryinsurance.com/cas/login?' target="_blank">Customer portal</a></li>
      <li></li>
      </ul>
      </span></div>
    </li>
     <li>
      <div class="collapsible-header"><img src="img/hallmark.png" alt="Hallmark" height="20"></div>
      <div class="collapsible-body" style="background-color:white;"><span>
      <ul>
      <li><a href='http://www.hallmarkinsco.com/index/file-a-claim' target="_blank">Claims portal</a></li>
      <li>Claims phone: 1(800) 486-5616</li>      
      <li><a href='https://app.myhallmarkinsurance.com/Hallmark/(S(kfw1vrrs5ywaskw4vzxjvtpv))/Consumer' target="_blank">Customer portal</a></li>
      <li></li>
      </ul>
      </span></div>
    </li>
     <li>
      <div class="collapsible-header"><img src="img/swyfft.png" alt="SWYFFT" height="20"></div>
      <div class="collapsible-body" style="background-color:white;"><span>
      <ul>
      <li><a href='https://www.swyfft.com/Claims' target="_blank">Claims portal</a></li>
      <li>Claims phone: 1(855) 542-0917</li>
      <li></li>
      </ul>
      </span></div>
    </li>
  </ul>

</div></div>


{% endblock %}