{% extends "front_base.html" %} {% block title %}Quote Request{% endblock %} 

{% block content %}
<!-- multistep form -->

<div class="container z-depth-5" style="margin-top:20px;">

    <form class="col s6" action="success" method="POST" id="form">
        <div class="card">
            <div class="card-tabs">
                <ul class="tabs tabs-fixed-width">
                    <li class="tab">
                        <a class="active" href="#drivers">Drivers</a>
                    </li>
                    <li class="tab">
                        <a href="#vehicles">Vehicles</a>
                    </li>
                    <li class="tab">
                        <a href="#discounts">Discounts</a>
                    </li>
                  
                </ul>
            </div>
          
            <div class="card-content grey lighten-4 padding-0">

                {% include "default_tabs.html" %} 
            
            </div>
        </div>
    </form>

</div>



{% endblock %}