<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Log in -Kappa Insurance </title>
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="css/main.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="shortcut icon" href="public/img/favicon.ico" />

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">


</head>

<body>
  <header id="header">
    <div class="navbar-fixed">
      <nav>
        <div class="nav-wrapper">
          <a href="#" class="brand-logo">Kappa Insurance</a>
          <a href="#" data-target="slide-out" class="sidenav-trigger">
            <i class="material-icons">menu</i>
          </a>

        </div>
      </nav>


    </div>
  </header>
  <main id="content">
    <form action="/login" method="post">
      <div class="container">
        <div class="row">
          <div class="col s8 m4 offset-s5 offset-m4">
            <div class="card  grey lighten-5 z-depth-4">
              <div class="row">
                <br>
              </div>
              <div class="row">
                <div class="col  offset-s2">
                  <div class="input-field inline ">
                    <input id="fname" type="text" name="fname" class="validate" requeired>
                    <label for="fname">first Name: </label>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col  offset-s2">
                  <div class="input-field inline ">
                    <input id="lname" type="text" name="lname" class="validate" requeired>
                    <label for="lname">last Name: </label>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col  offset-s2">
                  <div class="input-field inline ">
                    <input id="email" type="email" name="email" class="validate" requeired>
                    <label for="email">email: </label>
                  </div>
                </div>
              </div>
              <!-- <div class="row">
                <div class="col  offset-s2">
                  <div class="input-field inline ">
                    <input id="user" type="text" name="user" class="validate" requeired>
                    <label for="user">User Name: </label>
                  </div>
                </div>
              </div> -->
              <div class="row">
                <div class="col offset-s2">
                  <div class="input-field inline  ">
                    <input id="password" type="password" name="password" class="validate" requeired>
                    <label for="password">Password: </label>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col offset-s2">
                  <div class="input-field inline  ">
                    <input id="password2" type="password" name="password2" class="validate" requeired>
                    <label for="password2">Verify Password: </label>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col s12 offset-s2">
                  <button type="submit" class="waves-effect waves-light btn-small">Login</button>
                </div>
              </div>
              <div class="row"> </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </main>




  <footer class="page-footer hide-on-small-only">


    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    <!-- Optional JavaScript -->
    <script src="js/main.js"></script>

    </div>
  </footer>




</body>

</html>