{% extends "base.html" %} {% block content %}

<form action="/todos" method="POST">
    <label>New Task:</label>
    <input type="text" name="task">
    <br>
    <br>
    <button type="submit">Submit</button>
</form>


<br>
  <form action="/todos/:done" method="POST">
    {% for item in tasks %}
    <p>
      <label>
        <input type="checkbox" value ={{item.id}} name=task>
        <span>{{item.description}}</span>
      </label>
    </p>
    
    {% endfor %}
    <br>
    <button type="submit">Submit</button>
  </form>
{% endblock %}