{% extends "base.html" %} {% block content %}

<form action="/todos" method="POST">
  <div class="container">
    <div class="row">
      <div class="col s12">
        <div class="input-field inline">
          <input id="task" type="text" name="task" class="validate">
          <label for="task">New Task</label>
        </div>
        <button type="submit" class="waves-effect waves-light btn-small">Submit</button>
      </div>
    </div>
</form>

<br>

<form action="/todos/:done" method="POST">
  {% for item in tasks %}
  {% if item.done == false %}
  <p>
    <label>
      {# <input type="hidden" value="{{item.id}}" name="id" />
      <input type="hidden" value="{{item.done}}" name="done" /> #}
      <input type="checkbox" value='{"id" : {{item.id}}, "status" : {{item.done}} }' name=task>
      <span>{{item.description}}</span>
    </label>
  </p>
  {% endif %}
  {% endfor %}
  <br>
  {% for item in tasks %}
  {% if item.done %}
  <p>
    <label>
     {# <input type="hidden" value="{{item.id}}" name="id" />
      <input type="hidden" value="{{item.done}}" name="done" /> #}
      <input type="checkbox" value='{"id" : {{item.id}}, "status" : {{item.done}} }' name=task>
      <span><strike>{{item.description}}</strike></span>
    </label>
  </p>
  {% endif %}
  {% endfor %}
  <br>
  <button type="submit" class="waves-effect waves-light btn-small">Submit</button>
</form>
</div>
{% endblock %}